<!-- =========================================================================================
    File Name: MarketHistory.vue
    Description: MarketHistory
========================================================================================== -->
<template>
  <div class="market-history market-order mt10">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-toggle="pill"
          href="#open-orders"
          role="tab"
          aria-selected="true"
        >
          Open Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#stop-orders" role="tab" aria-selected="false">
          Closed Orders
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="pill"
          href="#order-history"
          role="tab"
          aria-selected="false"
        >
          Order history
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="pill"
          href="#trade-history"
          role="tab"
          aria-selected="false"
        >Balance</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="open-orders" role="tabpanel">
        <ul class="d-flex justify-content-between market-order-item">
          <li>Time</li>
          <li>All pairs</li>
          <li>All Types</li>
          <li>Buy/Sell</li>
          <li>Price</li>
          <li>Amount</li>
          <li>Executed</li>
          <li>Unexecuted</li>
        </ul>
        <span class="no-data">
          <i class="icon ion-md-document"></i>
          No data
        </span>
      </div>
      <div class="tab-pane fade" id="stop-orders" role="tabpanel">
        <ul class="d-flex justify-content-between market-order-item">
          <li>Time</li>
          <li>All pairs</li>
          <li>All Types</li>
          <li>Buy/Sell</li>
          <li>Price</li>
          <li>Amount</li>
          <li>Executed</li>
          <li>Unexecuted</li>
        </ul>
        <span class="no-data">
          <i class="icon ion-md-document"></i>
          No data
        </span>
      </div>
      <div class="tab-pane fade" id="order-history" role="tabpanel">
        <ul class="d-flex justify-content-between market-order-item">
          <li>Time</li>
          <li>All pairs</li>
          <li>All Types</li>
          <li>Buy/Sell</li>
          <li>Price</li>
          <li>Amount</li>
          <li>Executed</li>
          <li>Unexecuted</li>
        </ul>
        <span class="no-data">
          <i class="icon ion-md-document"></i>
          No data
        </span>
      </div>
      <div class="tab-pane fade" id="trade-history" role="tabpanel">
        <ul class="d-flex justify-content-between market-order-item">
          <li>Time</li>
          <li>All pairs</li>
          <li>All Types</li>
          <li>Buy/Sell</li>
          <li>Price</li>
          <li>Amount</li>
          <li>Executed</li>
          <li>Unexecuted</li>
        </ul>
        <span class="no-data">
          <i class="icon ion-md-document"></i>
          No data
        </span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MarketHistory',
  data() {
    return {}
  }
}
</script>