<!-- =========================================================================================
    File Name: RecenTrades.vue
    Description: RecenTrades
========================================================================================== -->
<template>
  <div class="market-history market-order mt10">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-toggle="pill"
          href="#recent-trades"
          role="tab"
          aria-selected="true"
        >
          Recent
          Trades
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="pill"
          href="#market-depth"
          role="tab"
          aria-selected="false"
        >
          Market
          Depth
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="recent-trades" role="tabpanel">
        <table class="table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Price(BTC)</th>
              <th>Amount(ETH)</th>
            </tr>
          </thead>
          <tbody
            class="mCustomScrollbar _mCS_10 mCS-autoHide"
            style="position: relative; overflow: visible;"
          >
            <div
              id="mCSB_10"
              class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside"
              tabindex="0"
              style="max-height: none;"
            >
              <div
                id="mCSB_10_container"
                class="mCSB_container"
                style="position: relative; top: 0px; left: 0px;"
                dir="ltr"
              >
                <tr>
                  <td>13:03:53</td>
                  <td class="red">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="green">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="green">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="red">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="green">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="green">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="green">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="red">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="red">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="green">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="green">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="red">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="green">0.020191</td>
                  <td>0.2155045</td>
                </tr>
                <tr>
                  <td>13:03:53</td>
                  <td class="red">0.020191</td>
                  <td>0.2155045</td>
                </tr>
              </div>
            </div>
            <div
              id="mCSB_10_scrollbar_vertical"
              class="mCSB_scrollTools mCSB_10_scrollbar mCS-minimal mCSB_scrollTools_vertical"
              style="display: block;"
            >
              <div class="mCSB_draggerContainer">
                <div
                  id="mCSB_10_dragger_vertical"
                  class="mCSB_dragger"
                  style="position: absolute; min-height: 50px; display: block; height: 164px; max-height: 281px; top: 0px;"
                >
                  <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                </div>
                <div class="mCSB_draggerRail"></div>
              </div>
            </div>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="market-depth" role="tabpanel">
        <div class="depth-chart-container">
          <div class="depth-chart-inner"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MarketTrade',
  data() {
    return {}
  }
}
</script>