<!-- =========================================================================================
    File Name: Exchange.vue
    Description: Exchange Dashboard
========================================================================================== -->
<template>
    <div class="row sm-gutters">
        <!-- BUY ORDERS -->
        <div class="col-md-3">
            <order-book />
        </div> 
        <!-- CHART -->
        <div class="col-md-6">
            <ticker-chart />
            <market-trade />
        </div>
        <!-- SELL ORDERS -->
        <div class="col-md-3">
            <order-book />
        </div>
        <!-- RECENT TRADES -->
        <div class="col-md-3">
            <recent-trades />
        </div>
        <!-- MARKET HISTORY -->
        <div class="col-md-9">
            <market-history />
        </div>

    </div>
</template>
<script>

import OrderBook from '~/components/exchange/OrderBook'
import TickerChart from '~/components/exchange/TickerChart'
import MarketTrade from '~/components/exchange/MarketTrade'
import RecentTrades from '~/components/exchange/RecentTrades'
import MarketHistory from '~/components/exchange/MarketHistory'

export default {
    name: 'Exchange',
    layout: 'ExchangeLayout',
    components: {
        OrderBook,
        TickerChart,
        MarketTrade,
        RecentTrades,
        MarketHistory
    }

}
</script>